<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="/script/locationcode.js"></script>
<script src="/script/basket.js"></script>
<script src="/script/logininfo.js"></script>

<title>Insert title here</title>

<style>
.modal {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.5);
	top: 0;
	left: 0;
	display: none;
}

.modal_content {
	border: 1px solid black;
	width: 400px;
	height: 400px;
	background: #fff;
	border-radius: 10px;
	position: relative;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -200px;
	text-align: center;
	box-sizing: border-box;
	padding: 74px 0;
	line-height: 23px;
	cursor: pointer;
}
</style>

<script>
	function getStoreNum(){
		return location.search.substring(7)
	}
	
	async function printmenugroup(storenum, LocationCode){
		
		const menugrouplist = await $.ajax({
			url : "/storeinfo/readstoreinfo",
			data : {sStoreNum : storenum, sLocation : LocationCode},
			success : function(data){
				const mglresult = data.result
				
				const mglist = $('#menugrouplist')
				
				
				for(const mgl of mglresult){
					const $li = $("<li>").text(mgl.sgroupName).attr("value",mgl.sgroupNum).attr("class", "menugroup").attr("value2","show").appendTo(mglist);
					$('<ul>').attr("class", "menulist").appendTo($li)
				}		
			}
		})
		
		
	}

	function count(value) {
		
		let count = parseInt($('#modalcount').text());
		let price = parseInt($('#modalprice').text());
		
		if(value == "plus") {
			count = count+1;

		if(count >= 30){
			alert("수량을 확인해 주세요")
		}
		
		$('#modalcount').text(count);
		$('#modaltotalprice').text(count * price)
		}
	
		if(value == "minus") {
			count = count-1;
		
			if(count < 1){
				count = 1;
			}
		
		$('#modalcount').text(count);
		$('#modaltotalprice').text(count * price)
		}
		
	}
	
	
	$(document).ready(async function(){
		const storenum = getStoreNum()
		
		const LocationCode = await getLoctionCode();
		
		const username = "spring";
		
		await printmenugroup(storenum, LocationCode)
				
		$(document).on("click",".menugroup", async function(e){			
			//e.stopPropagation()
			if($(this).attr("value2")=="show") {
				
				const groupnum = $(this).attr("value")
				
				const result = await $.ajax({
					url : "/storeinfo/readstoremenu",
					data : {sGroupNum : groupnum, sLocation : LocationCode}
				})
				
				const menulist = result.result
				
				const $group = $(this).children();
				
				for(const ml of menulist){
					const $li = $("<li>").attr("value1", ml.sgroupNum).attr("value2",ml.smenuCode).attr("class","listli").appendTo($group)
					$("<span>").text(ml.smenuImg).appendTo($li);
					$("<span>").text(ml.smenuName).appendTo($li);
					$("<span>").text("가격 : " + ml.smenuPrice).appendTo($li);
				}
				
				$(this).attr("value2", "hide");
				
			} else {
				$(this).children().children().remove();
				
				$(this).attr("value2", "show");
			};
			
			
		})
		
	$(document).on("click", ".listli", async function(e){		
		
		e.stopPropagation();
		
		const groupnum = $(this).attr("value1");
		const menucode = $(this).attr("value2");
		
		const result = await $.ajax({
			url : "/storeinfo/menudetail",
			data : {sGroupNum : groupnum, sMenuCode : menucode ,sLocation : LocationCode}
		})
		
		const menudetail = result.result
		$("#sStoreNum").attr("value", menudetail.sstoreNum);
		$("#sGroupNum").attr("value", menudetail.sgroupNum);
		$("#sMenuCode").attr("value", menudetail.smenuCode);
		
		$("#modalimg").text(menudetail.smenuImg);
		$("#modalname").text(menudetail.smenuName);
		$("#modalinfo").text(menudetail.smenuInfo);
		$("#modalprice").text(menudetail.smenuPrice);
		$("#modalcount").text(1);
		$("#modaltotalprice").text(menudetail.smenuPrice * $("#modalcount").text());
		
		$(".modal").fadeIn();
	})
	
	$(document).on("click", "#closeButton", function(){
		$(".modal").fadeOut();
		//location.reload(); 
	})
	
	$(document).on("click", "#countminus", function(){
		count($("#countminus").attr("value"));
	})

	
	$(document).on("click", "#countplus", function(){
		count($("#countplus").attr("value"));
	})	
	
	$(document).on("click", "#tobasket", function(){
		
		const param = {sMenuCode : $('#sMenuCode').val(), sGroupNum : $('#sGroupNum').val(), sStoreNum : $('#sStoreNum').val(), cMenuCount :$('#modalcount').text(), cId : username}
		
		$.ajax({
			url : "/consumer/basket/add",
			data : param,
			method : "post",
			success : function(data){
				alert(data.message);
				
				$("#blist").remove();
				$("#totalview").remove();
				printStoreName(data.result)
				printBasketList(data.result);
				printBasketTotalPrice(data.result);
				
				$(".modal").fadeOut();
			}
		})
	})
	
	})
</script>

</head>
<body>
	<header id="header" th:replace="/fragments/header"> </header>
	<nav id="nav"></nav>
	<div id="main">
		<aside id="aside"></aside>
		<section id="section">
			<ul id="menugrouplist"></ul>
			<div> 
				<p> 장바구니 </p>
				<div id="basketlist" th:replace="/basket/cbasket"></div>
			 </div>
		</section>
	</div>
	<footer id="footer"></footer>

	<div id="modal" class="modal">
		<div class="modal_content">
			<div id="modalheader">
				<span>메뉴 상세</span>
				<button id="closeButton">X</button>
			</div>

			<input type="hidden" id="sStoreNum"> <input type="hidden"
				id="sGroupNum"> <input type="hidden" id="sMenuCode">

			<div id="Modal_sMenuImg">
				<span id="modalimg"></span>
			</div>
			<div id="Modal_sMenuName">
				<span>메뉴이름 :</span> <span id="modalname"></span>
			</div>
			<div id="Modal_sMenuInfo">
				<span id="modalinfo"></span>
			</div>
			<div id="Modal_sMenuPrice">
				<span>가격 :</span> <span id="modalprice"></span>
			</div>
			<div id="Modal_sCount">
				<span>수량 : </span>
				<button id="countminus" value="minus">-</button>
				<span id="modalcount"></span>
				<button id="countplus" value="plus">+</button>
			</div>
			<div id="Modal_totaprice">
				<span>총 가격 :</span> <span id="modaltotalprice"></span>
			</div>
			<div id="Modal_modalfooter">
				<button id="tobasket">장바구니 담기</button>
			</div>
		</div>
	</div>


</body>
</html>