<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.consumer.dao.StoreInfoDao">

<select id="foodCategoryRead" resultType="com.example.demo.consumer.dto.StoreInfoDto$ReadCategoryDto">
	select * from S_FOOD_CATEGORY
</select>

<select id="storelist" resultType="com.example.demo.consumer.dto.StoreInfoDto$StoreListDto">
	select * from S_STORE where S_CATEGORY_NUM = #{sCategoryNum} and S_LOCATION_CODE = #{sLocationCode}
</select>

<select id="storeinfo" resultType="com.example.demo.consumer.dto.StoreInfoDto$StoreInfoDetailDto">
	select distinct smg.S_GROUP_NAME, smg.S_GROUP_NUM from S_STORE ss left outer join S_MENU_GROUP smg on ss.S_STORE_NUM = smg.S_STORE_NUM where smg.S_STORE_NUM = #{sStoreNum} and ss.S_LOCATION_CODE = #{sLocationCode}
</select>

<select id="menulist" resultType="com.example.demo.consumer.dto.StoreInfoDto$StoreInfoMenuListDto">
	select sm.* from S_STORE ss left outer join S_MENU_GROUP smg on ss.S_STORE_NUM = smg.S_STORE_NUM left outer join S_MENU sm on smg.S_GROUP_NUM = sm.S_GROUP_NUM where sm.S_GROUP_NUM = #{sGroupNum} and ss.S_LOCATION_CODE = #{sLocationCode}
</select>

<select id="menudetail" resultType="com.example.demo.consumer.dto.StoreInfoDto$menuDetailDto">
	select ss.S_STORE_NUM, smg.S_GROUP_NUM ,sm.* from S_STORE ss left outer join S_MENU_GROUP smg on ss.S_STORE_NUM = smg.S_STORE_NUM left outer join S_MENU sm on smg.S_GROUP_NUM = sm.S_GROUP_NUM where sm.S_GROUP_NUM = #{sGroupNum} and sm.S_MENU_CODE = #{sMenuCode} and ss.S_LOCATION_CODE = #{sLocationCode}
</select>
	
</mapper>