<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.seller.dao.SstoreDao">

<insert id="StoreAdd">
	<selectKey keyProperty="sStoreNum" order="BEFORE" resultType="int">
      select nvl(max(S_STORE_NUM)+1, 1) from S_STORE
    </selectKey>
      insert into S_STORE(S_STORE_NUM,S_STORE_NAME, S_STORE_ADDRESS,S_MIN_DELEVERY,S_STORE_TIME,S_STORE_INTRO) 
      values (#{sStoreNum},#{sStoreName},#{sStoreAddress},#{sMinDeleVery},#{sStoreTime},#{sStoreIntro})
</insert>

<update id="StoreUpdate">
	update S_STORE 
  	  <trim prefix="set" suffixOverrides=",">
	   	<if test="sStoreName != null">S_STORE_NAME=#{sStoreName},</if>
	  	<if test="sStoreAddress != null">S_STORE_ADDRESS=#{sStoreAddress},</if>
	  	<if test="sStoreLogo != null">S_STORE_LOGO=#{sStoreLogo},</if>
	  	<if test="sMinDeleVery != null">S_MIN_DELEVERY=#{sMinDeleVery},</if>
	  	<if test="sStoreTime != null">S_STORE_TIME=#{sStoreTime},</if>
	  	<if test="sStoreIntro != null">S_STORE_INTRO=#{sStoreIntro},</if>
	  </trim>
  	where S_STORE_NUM=#{sStoreNum}
</update>

<delete id="StoreDelete">
	delete from S_STORE where S_STORE_NUM=#{sStoreNum}
</delete>

<select id="StoreRead" resultType="com.example.demo.seller.dto.SstoreDto$Read">
  	<![CDATA[
  	select * from S_STORE where S_STORE_NUM=#{sStoreNum} and rownum<=1
  	]]>
  </select>
  
 <select id="StoreList">
 	<![CDATA[
 	select  from S_STORE 
 	]]>
 </select>

</mapper>
