<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="/css/semantic.css" type="text/css">
    <script src="/script/semantic.js"></script>
    <script src="/script/StoreAdd.js"></script>
    
    <title>가게 추가</title>
   
</head>
<body>
    
    <div id="page">
        
            <header id="header"></header>
        <nav id="nav"></nav>
        <aside id="aside">
            <ul id="asideUl">
            </ul>
        </aside>
        <section id="section">
        <form id="add_form">
            <label for="sStoreName">가게이름</label>
            <input id="sStoreName" type="text" name="sStoreName">
            <br>
            <img id="showLogo" height="240px">
            <label for="logoimg">로고 사진</label>
            <input id="logoimg" type="file" name="logoimg" accept=".jpg,.jpeg,.png,.gif">
            <br>
            <label for="sStoreAddress">가게주소</label>
            <input id="sStoreAddress" type="text" name="sStoreAddress">
            <br>
            <label for="sMinDeleVery">최소주문금액</label>
            <input id="sMinDeleVery" type="text" name="sMinDeleVery"> 원
            <br>
            <label for="sStoreTime">영업시간</label>
            <input type="text" id="sStoreTime" maxlength="4" name="sStoreTime">
            <br>
            <label for="sStoreIntro">가게 소개말</label>
            <input id="sStoreIntro" type="text" name="sStoreIntro">
            <br>
            <label for="sCategoryNum">음식 카테고리 설정</label>
            <select id="sCategoryNum" name="sCategoryNum">
                <option value="101">중식</option>
                <option value="100">치킨</option>
            </select>
            <br>
            <label for="sLocationCode">위치 코드</label>
            <select id="sLocationCode" name="sLocationCode">
                <option value="4290">학익동</option>
                <option value="9370">용현동</option>
            </select>
            <br>
            <button id="storeAdd"  type="button">가게 등록</button>
        </form>

        </section>
    <footer id="footer"></footer>
    </div>

</body>
</html>