<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="/css/semantic.css" type="text/css">
    <script src="/script/semantic.js"></script>
    <script src="/script/StoreAdd.js"></script>
    
    <title>가게 추가</title>
   
</head>
<body>
    
    <div id="page">
        
            <header id="header"></header>
        <nav id="nav"></nav>
        <aside id="aside">
            <ul id="asideUl" class="list-group">
            </ul>
        </aside>
        <section id="section">
        <form id="add_form">
        <img id="showLogo" height="240px"  class="input-group-text">
            <div class="mb-3">
                <label for="sStoreName" class="form-label">가게이름</label>
                <input id="sStoreName" type="text" name="sStoreName" class="form-control" placeholder="상호명을 입력해주세요">
            </div>
            
            <div input-group mb-3>
                <input id="logoimg" type="file" name="logoimg" accept=".jpg,.jpeg,.png,.gif" class="form-control">
            </div>
            <div class="mb-3">
                <label for="sStoreAddress"  class="form-label">가게주소</label>
                <input id="sStoreAddress" type="text" name="sStoreAddress"  class="form-control" placeholder="정확한 주소를 입력해주세요">
            </div>
            <div class="mb-3">
            <label for="sMinDeleVery"  class="form-label">최소주문금액</label>
            <input id="sMinDeleVery" type="text" name="sMinDeleVery"  class="form-control" placeholder="숫자만 입력해주세요 ex) 15000원 경우 15000">
            </div>
            <div class="mb-3">
            <label for="sStoreTime"  class="form-label">영업종료시간</label>
            <input type="text" id="sStoreTime" maxlength="4" name="sStoreTime"  class="form-control" placeholder="숫자만 입력해주세요 ex) 12시 00분 경우 1200">
            </div>
            <div class="mb-3">
            <label for="sStoreIntro"  class="form-label">가게 소개말</label>
            <textarea id="sStoreIntro" type="text" name="sStoreIntro" rows="3" class="form-control" placeholder="간단한 가게 소개를 부탁드려요"></textarea>
            </div>
            <label for="sCategoryNum">음식 카테고리 설정</label>
            <select id="sCategoryNum" name="sCategoryNum" class="form-select">
                <option value="101">중식</option>
                <option value="100">치킨</option>
            </select>
            <br>
            <label for="sLocationCode">위치 코드</label>
            <select id="sLocationCode" name="sLocationCode" class="form-select">
                <option value="4290">학익동</option>
                <option value="9370">용현동</option>
            </select>
            <br>
            <button id="storeAdd"  type="button" class="btn btn-outline-success">가게 등록</button>
        </form>

        </section>
    <footer id="footer"></footer>
    </div>

</body>
</html>