*{
    margin: 0;
    padding: 0;
}

#header {
    height: 120px;
    background-color: beige;
}
#aside {
    width: 250px;
    height: 750px;
    background-color: blanchedalmond;
    float: left;
    
}
#section {
    float: right;
    background-color: aqua;
    width: 1175px;
    height: 750px;
}
#footer {
    height: 120px;
    background-color: coral;
    clear: both;
}
button {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    width: 90px;
    height: 30px;
}