*{
    margin: 0;
    padding: 0;
}

#header {
    height: 120px;
    background-color: #15edbb;
}
#aside {
    width: 250px;
    float: left;
    text-align: center;
    
}
#section {
    float: right;
    width: 1175px;
    height: auto;
    border-left: 1px solid black;
    padding: 1cm;
}
#footer {
    height: 120px;
    background-color: coral;
    clear: both;
}

#aside button {
    font-size: 0.7cm;
    margin-bottom: 1cm;
    border: 0ch;
    width: 250px;
}
#aside button:hover {
    transition: 1s;
}