<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>Insert title here</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
	$(document).ready(()=>{
		$("#sFindId").on("click", ()=>{
			$.ajax("/seller/find/sId?sEmail=" + $("#sFind_Id_sEmail").val())
				.done((result)=>Swal.fire("성공", result.result, "success"))
				.fail(()=>Swal.fire("실패", "아이디를 찾지 못했습니다", "error"));
			$("#sFind_Id_sEmail").val("");
		});
		
		$("#stPassword").on("click", ()=>{
			const params = {
				sId: $("#sId").val().toUpperCase(),
				sEmail: $("#st_password_sEmail").val()
			};
			$.ajax({
				url: "/seller/find/password",
				method: "patch",
				data: params
			}).done((result)=>Swal.fire("성공", result.result, "success"))
				.fail(()=> Swal.fire("실패", "사용자 정보를 확인하지 못했습니다", "error"))
			$("#sId").val("");
			$("#sFind_Id_sEmail").val("");
		});
	});
</script>

</head>
<body>
<div id="page">
	<header id="header" th:replace="/fragments/header">
	</header>
	<nav id="nav" th:replace="/fragments/nav">
	</nav>
	<div id="main">
		<aside id="aside" th:replace="/fragments/aside">
		</aside>
		<section id="section">
			<div id="SellerFindId">
				<h1>아이디 찾기</h1>
				<div class="sellers">
					<label for="sFind_Id_sEmail">이메일을 입력하세요</label>
					<input id="sFind_Id_sEmail" type="text" class="form-control">
					<span class="helper-text" id="sFind_Id_sEmail"></span>
				</div>
				<button class="btn btn-primary" id="sFindId">아이디 찾기</button>
			</div>	
			<hr>
			<div id="SellerFindPassword">
				<h1>비밀번호 찾기</h1>
				<div class="sellers">
					<label for="sId">아이디를 입력하세요</label>
					<input id="sId" type="text" name="sId" class="form-control">
					<span class="helper-text" id="sId_msg"></span>
				</div>
				<div class="sellers">
					<label for="st_password_sEmail">이메일을 입력하세요</label>
					<input id="st_password_sEmail" type="text" class="form-control">
					<span class="helper-text" id="st_password_sEmail_msg"></span>
				</div>
				<button class="btn btn-primary" id="stPassword">임시비밀번호 발급</button>
			</div>
		</section>
	</div>
	<footer id="footer" th:replace="/fragments/footer">
	</footer>
</div>
</body>
</html>